<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   
   <servlet>
      <servlet-name>LogoutController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.LogoutController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareUpdateController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareUpdateController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareCreateController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareCreateController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareManagersController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareManagersController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>CreateController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.CreateController</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>CreateManagerController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.CreateManagerController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>UpdateController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.UpdateController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>LoginController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.LoginController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>ReadController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.ReadController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>DeleteController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.DeleteController</servlet-class>
   </servlet>

	<servlet>
      <servlet-name>RegisterController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.RegisterController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareAddTablesController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareAddTablesController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>AddTableController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.AddTableController</servlet-class>
   </servlet>
   
      <servlet>
      <servlet-name>ManagerLoginController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.ManagerLoginController</servlet-class>
   </servlet>
	
   <servlet-mapping>
      <servlet-name>LogoutController</servlet-name>
      <url-pattern>/LogoutController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareManagersController</servlet-name>
      <url-pattern>/PrepareManagersController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareUpdateController</servlet-name>
      <url-pattern>/PrepareUpdateController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareCreateController</servlet-name>
      <url-pattern>/PrepareCreateController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>CreateController</servlet-name>
      <url-pattern>/CreateController</url-pattern>
   </servlet-mapping>
   
      <servlet-mapping>
      <servlet-name>CreateManagerController</servlet-name>
      <url-pattern>/CreateManagerController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>UpdateController</servlet-name>
      <url-pattern>/UpdateController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>LoginController</servlet-name>
      <url-pattern>/LoginController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>ReadController</servlet-name>
      <url-pattern>/ReadController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>DeleteController</servlet-name>
      <url-pattern>/DeleteController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>RegisterController</servlet-name>
      <url-pattern>/RegisterController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>PrepareAddTablesController</servlet-name>
      <url-pattern>/PrepareAddTablesController</url-pattern>
   </servlet-mapping>
   
    <servlet-mapping>
      <servlet-name>AddTableController</servlet-name>
      <url-pattern>/AddTableController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>ManagerLoginController</servlet-name>
      <url-pattern>/ManagerLoginController</url-pattern>
   </servlet-mapping>
   
   
   <welcome-file-list>
   		<welcome-file>/login.jsp</welcome-file>
   </welcome-file-list>
   <error-page>
		<exception-type>
			java.lang.Throwable
		</exception-type>
		<location>/error.jsp</location>
   </error-page>
   <error-page>
   		<error-code>404</error-code>
   		<location>/404.jsp</location>
   </error-page> 
   
   
   
   
   <servlet>
      <servlet-name>PrepareUpdateManagerController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareUpdateManagerController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>UpdateManagerController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.UpdateManagerController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>PrepareFriendController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrepareFriendController</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>AddFriendController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.AddFriendController</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>FindFriendController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.FindFriendController</servlet-class>
   </servlet>
   
       <servlet>
      <servlet-name>UpdateUserController</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.UpdateUserController</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>PrepareUpdateManagerController</servlet-name>
      <url-pattern>/PrepareUpdateManagerController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>UpdateManagerController</servlet-name>
      <url-pattern>/UpdateManagerController</url-pattern>
   </servlet-mapping>
   
    <servlet-mapping>
      <servlet-name>PrepareFriendController</servlet-name>
      <url-pattern>/PrepareFriendController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>AddFriendController</servlet-name>
      <url-pattern>/AddFriendController</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>FindFriendController</servlet-name>
      <url-pattern>/FindFriendController</url-pattern>
   </servlet-mapping>
   
      <servlet-mapping>
      <servlet-name>UpdateUserController</servlet-name>
      <url-pattern>/UpdateUserController</url-pattern>
   </servlet-mapping>
   
   
   
   
   
   
   
   
   
   
   
   
   
   

</web-app>
